.slider.animated{
    .slider-text{
        opacity: 1;
        transform: translateX(0);
    }
    .slider-mobile, .slider-tablet, .slider-pc, .slider-laptop{
        transform: translateY(0);
        opacity: 1;
    }
    .slider-coping-clouds{
        opacity: 1;
        // transform: scale(1);
    }
    .slider-loader{
        display: none;
    }
    &:before, &:after{
        opacity: 1;
    }
}
.slider{
    position: relative;
    margin-top: 120px;
    .start{
        margin-top: 38px;
    }
    .slider-images{
        height: 507px;
    }
    .slider-loader {
        position: absolute;
        top: 50%;
        width: 100px;
        height: 100px;
        left: 50%;
        transform: translatex(-50%) translateY(-50%);
    }

    h1{
        font-size: 42px;
        line-height: 1.095;
        span{
            color: $blue;
        }
    }
    &:before{
        content: url('../circles.svg');
        position: absolute;
        left: 0;
        top: 34px;
        z-index: -1;
        opacity: 0;
        transition: opacity .6s;
    }
    &:after{
        content: url('../circles.svg');
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
        transition: opacity .6s;
    }
    .slider-mobile, .slider-tablet, .slider-pc, .slider-laptop, .slider-coping-clouds{
        transition: cubic-bezier(0.215, 0.610, 0.355, 1) .6s;
        opacity: 0;
    }
    .slider-text{
        margin-top: 63px;
        opacity: 0;
        transition: cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
        transform: translateX(100px);
        transition-delay: .3s;
    }
    .slider-mobile{
        width: 71px;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(150px);
        transition-delay: .5s;
    }
    .slider-tablet{
        width: 134px;
        position: absolute;
        bottom: 0;
        left: 30px;
        transform: translateY(180px);
        transition-delay: .8s;
        
    }
    .slider-pc{
        width: 401px;
        position: absolute;
        bottom: 0;
        left: 118px;
        transform: translateY(300px);
        transition-delay: 1.2s;
        
    }
    
    .slider-laptop{
        width: 333px;
        position: absolute;
        bottom: 0;
        left: 437px;
        z-index: 1;
        transform: translateY(170px);
        transition-delay: 1.5s;
        
    }
    .slider-coping-clouds{
        width: 165px;
        position: absolute;
        bottom: 173px;
        left: 233px;
        z-index: 1;
        opacity: 0;
        transition-delay: 1.8s;        
    }
}    