$blue                   : #259af1;
$dark-blue              : #34314c;
$light-blue             : #8582a3;
$medium-blue            : #625d86;
$purple                 : #4b25f1;
$red                    : #ff7473;
$white                  : #fff;
$orange                 : #ffc952;
$green                  : #52a93e;
$radius                 : 3px;
$system-font            : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$title-font-family      : 'Lalezar', $system-font;
$body-font-family       : 'Vazir', $system-font;